<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  $if(description)$
  <meta name="description" content="$description$">
  $endif$
  <title>$title$</title>
  <link rel="stylesheet" href="/css/default.css" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
</head>
<body>
  <header>
    <h1>Natan Lao</h1>
  </header>
  <main>
    $body$
  </main>
  <footer>
    <small>
      Background <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> <a href="https://www.heropatterns.com/">Steve Schoger</a>.<br>
      Favicon <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> <a href="https://github.com/mozilla/fxemoji">FxEmojis</a>.<br>
      <a href="https://github.com/natanlao/natanlao.github.io">View source</a>.
    </small>
  </footer>
</body>
</html>
