{% extends "default.html" %}
{% block title %}{{ config.title }}{% endblock title %}
{% block body %}
<header>
    <h1>{{ section.title }}</h1>
</header>
<main>
    {{ section.content | safe }}

    {#<h2>Writing</h2>
    <p>I have a couple longer-form posts drafted, but I'm not ready to publish
    anything yet.</p>#}

    <h2>Notes</h2>
    <ul>
        {% set notes = get_section(path="notes/_index.md") %}
        {% for note in notes.pages %}
        <li><a href="{{ note.path }}">{{ note.title | markdown(inline=true) | safe }}</a></li>
        {% endfor %}
    </ul>

    <h2>Elsewhere</h2>
    <ul>
        <li><a href="https://github.com/natanlao">github.com/natanlao</a></li>
        <li><a href="https://gist.github.com/natanlao">gist.github.com/natanlao</a></li>
        <li><a href="https://linkedin.com/in/natanlao">linkedin.com/in/natanlao</a></li>
    </ul>
</main>
{% endblock %}
