{% extends "default.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block body %}
<nav>
  <a href="/">&larr; Homepage</a>
</nav>

<main>
  <article>
    <header>
      <h1>{{ page.title | markdown(inline=true) | safe }}</h1>
      <section>
        <small>
            {% if page.date %}
            Posted <time datetime="{{ page.date }}">{{ page.date | date(format="%A, %d %B %Y") }}</time><br>
            {% endif %}
            {% if page.updated %}
            Updated <time datetime="{{ page.updated }}">{{ page.updated | date(format="%A, %d %B %Y") }}</time><br>
            {% endif %}
        </small>
      </section>
    </header>
    {{ page.content | safe }}
  </article>
</main>
{% endblock %}
